html {
  font-size: 16px;
  font-family: system-ui;
  min-width: 320px;
}

.monospace {
  font-family: monospace;
}

.system-monospace {
  font-family: system-monospace;
}

.sans-serif {
  font-family: sans-serif;
}

aside {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background-color: white;
  padding: .5rem;
  border-radius: 5px;
}

a:link,
a:visited {
  color: blue;
}

a:hover {
  text-decoration: none;
}
